<ion-app>
  <ion-menu menuId="mainMenu" contentId="mainId">
    <ion-header>
      <ion-toolbar>
        <ion-title><b>Berries</b></ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/home/main">
            <ion-label>Home</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/home/berries">
            <ion-label>Berries</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="mainId"></ion-router-outlet>
</ion-app>
